{% extends 'base.html.twig' %}

{% block title %}Admin Section{% endblock %}

{% block body %}

<h1> {{heading}} </h1>
<div class="col-md-6">

<p> {{ user.getId }} </p>
<p> {{ user.getUsername }} </p>
<a href="{{path('update_user', {'id':user.getId})}}">{{ user.getUsername }} </a>
</div>
{% endblock %}